/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */


a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit)
}

.grid-item:nth-child(2n+1){
    grid-column: 1;
}

.grid-item:nth-child(2n+2) {
  grid-column: 2;
}

.header {
  padding: 60px;
  text-align: center;
}

#header-image{
    display: flex;
    float: left;
}

